<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Assessment</title>
    <script src="angular.min.js"></script>
    <script src="client.js"></script>
  </head>
  <body ng-controller="MainController as main">
    <input type="text" ng-model="main.message" />
    <button ng-click="main.addMessage()">Add Message</button><br />
    <span ng-show="main.showCurrentLabel">Message is:</span> {{ main.currentMessage }}
    <br />
    <br />
    <span ng-show="main.showPreviousLabel">Previous messages are:</span><br />
    <ul>
      <!-- Tracking by $index to allow repeat entries -->
      <li ng-repeat = "message in main.messages track by $index">
        {{ message }}
      </li>
    </ul>

  </body>
</html>
